.menu {
    position: fixed;
    top: 0;
    right: -260px; 
    width: 260px;
    height: 100%;
    padding-top: 80px;
    transition: right 0.3s ease;
    z-index: 2000;
    box-shadow: -2px 0 12px rgba(0,0,0,0.4);
    background: linear-gradient(to bottom, #610000, #000000);
}

.menu a {
    display: block;
    color: var(--bianco);
    text-decoration: none;
    padding: 16px 20px;
    font-size: 18px;
    border-bottom: 1px solid #334155;
}

.menu a:hover {
    background-color: var(--rosso);
}


#menu-toggle:checked ~ .menu,
#menu-toggle:checked ~ .page + .menu {
    right: 0;
}

.menu.open {
    right: 0;
}

.menu-overlay.show {
    opacity: 1;
    pointer-events: auto;
}
