
#menu-toggle {
    display: none;
}

.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 3000;
}

.menu-icon span {
    display: block;
    height: 4px;
    background: var(--bianco);
    margin: 6px 0;
    border-radius: 2px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;    
    width: auto;      
    display: block;
}
.logo img {
    height: 80px;   
    width: auto;
    display: block;
}

header {
    background-color: var(--nero);
    height: 70px;              
    padding: 0 20px;
    display: flex;
    align-items: center;
}
