.page {
    transition: margin-right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#menu-toggle:checked ~ .page {
    margin-right: 260px;
}

.page.shift {
    transform: translateX(-260px);
}
