/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


:root {
    --nero: #730000;
    --grigio: #2b2727;
    --rosso: #1c1919;
    --chiaro: #f1f5f9;
    --bianco: #ffffff;
}


body {
    font-size: 16px;
    background-image: url("images/coregym.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.overlay {
    background-color: rgba(255, 255, 255, 0.0);
    min-height: 100vh;
}
